body {
    font-size: 18px;

}

.navbar-brand {
    height: 50px;
    width: 180px;
    padding: 0;
    background-color: #e0e0e0;
}


nav .navbar-nav li a{
    color: white !important;
    font-size: large;
}

nav .navbar-nav li:hover {
    cursor: pointer;
    background-color: #e0e0e0 !important;
    font-size: large;
}

nav .navbar-nav li a:hover {
    cursor: pointer;
    color: black !important;
}




.container-table {
    align-self: auto;
    width: 70%;
    margin: auto;
    border: 1px solid inherit;
}

.navbar.navbar-expand-lg {
    padding-left: 15%;
    padding-right: 15%;
}


/*-------------------------------
Table Column class selectors 
-------------------------------*/
.table {
    text-align: center;
    border-radius: 5px;
    float: none;
}

.table th,
.table td {
    text-align: center;
    border: none;
}

.table tbody:hover tr:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.thDate {
    width: 18%;
}

.thFrom {
    width: 18%;
}

.thDestination {
    width: 18%;
}

.thDriver {
    width: 18%;
}

.thPrice {
    width: 10%;
}

.thSeats {
    width: 10%;
}

.thMoreInfo {
    width: 8%;
}

/*-------------------------------
-------------------------------*/

.btn.float-right {
    border: #E3E9ED;
    background-color: #E3E9ED;
    width: 100px;
}

.btn.float-right:hover {
    cursor: pointer;
    background-color: #ffffff;
    border: 3px solid #E3E9ED;
    width: 100px;

}


.btn.btn-primary.main {
    width: 200px;
}