body {
    font-size: 18px;
    
}

.navbar-brand {
    width: 200px;
    
}

.nav-item {
    margin: auto;
    padding: 0px 10px 0px 10px;
}

.container-table {
    align-self: auto;
    width: 70%;
    margin: auto;
    border: 1px solid inherit;
}

.navbar {
    padding-left: 15%;
    padding-right: 15%;
}


/*-------------------------------
Table Column class selectors 
-------------------------------*/
.table {
    text-align: center;
    border-radius: 5px;
    float: none;
}

.table th, .table td{
    text-align: center;
    border: none;
}

.table tbody:hover tr:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.thDate {
    width: 18%;
}

.thFrom {
    width: 18%;
}

.thDestination {
    width: 18%;
}

.thDriver {
    width: 18%;
}

.thPrice {
    width: 10%;
}

.thSeats {
    width: 10%;
}

.thMoreInfo {
    width: 8%;
}
/*-------------------------------
-------------------------------*/

.btn.float-right {
    border: 3px solid #E3E9ED;
    width: 100px;
}

.btn.float-right:hover {
    cursor: pointer;
    background-color: #E3E9ED;
}

.btn {
    border: 3px solid #E3E9ED;
}

.btn:hover {
    cursor: pointer;
    background-color: #E3E9ED;
}

.btn.btn-primary.main {
    width: 200px;
}